<!-- <footer class="footer">
    <div class="footer-content">
      <div class="contact-form">
        <h3>רוצים להכיר? דברו איתנו</h3>
        <form (submit)="onSubmit($event)">
          <input type="text" placeholder="שם" required />
          <input type="email" placeholder="דוא״ל" required />
          <textarea placeholder="תוכן הפנייה" required></textarea>
  
          <div class="fake-recaptcha" (click)="toggleCheck()">
            <div class="box" [class.checked]="isHuman">
              @if (isHuman) {
                <div class="checkmark">✓</div>
              }
            </div>
            <span>אני לא רובוט</span>
          </div>
  
          <button type="submit" [disabled]="!isHuman">שלחו</button>
        </form>
      </div>
  
  
      <div class="contact-info">
        <iframe
          src="https://www.google.com/maps?q=%D7%94%D7%9B%D7%95%D7%AA%D7%9C+%D7%94%D7%9E%D7%A2%D7%A8%D7%91%D7%99&output=embed"
          width="100%" height="200" style="border:0;" allowfullscreen loading="lazy"></iframe>
        <p>🔹 כתובת: הכותל המערבי, ירושלים</p>
        <p>📧 דוא״ל: example&#64;email.com</p>
        <p>📞 טלפון: 050-0000000</p>
      </div>
    </div>
  
    <div class="footer-bottom">
      © DevWork 2025
    </div>
  </footer> -->

  
  <footer class="footer" id="footerSection" >
    <div class="footer-content">
      <div class="footer-section">
        <h3>צור קשר</h3>
        <p>מייל: example&#64;example.com</p>
        <p>טלפון: 050-1234567</p>
      </div>
  
      <div class="footer-section">
        <h3>עקוב אחרינו</h3>
        <a href="#" target="_blank">פייסבוק</a> |
        <a href="#" target="_blank">לינקדאין</a> |
        <a href="#" target="_blank">אינסטגרם</a>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>DevWork 2025 © כל הזכויות שמורות</p>
    </div>
  </footer>
  