<div class="joblist-header">
  <h1>ההזדמנות שלך בעולם הפיתוח מתחילה כאן</h1>
  <p>מצא משרות שמתאימות בדיוק למה שחיפשת</p>
  <button (click)="toggleFilters()"> לסינון משרות לחצו כאן 🔍 </button>
</div>


<div class="filter-container" [ngClass]="{'open': showFilters()}">
  <div class="filter-header"></div>
  <app-filtering (filteredJobs)="updateJobList($event)"></app-filtering>
</div>



@if (loading) {
<div class="loading-container">
  <div class="spinner"></div>
  <p>טוען משרות...</p>
</div>
} @else {
@for (job of pagedJobs(); track job.projectID) {
<div class="job-card">
  <h2>{{ job.title || 'משרה ללא שם' }}</h2>
  <p><strong>תיאור:</strong> {{ job.description || 'אין תיאור' }}</p>
  <p><strong>מייל מעסיק:</strong> {{ job.employerEmail }}</p>
  <p><strong>רמת אנגלית:</strong> {{ job.englishLevel || 'לא צוינה' }}</p>
  <p><strong>ניסיון:</strong> {{ job.experience || 'לא צוינה' }}</p>
  <p><strong>שפות:</strong> {{ job.languages || 'לא צוינו' }}</p>
  <p><strong>עבודה מרחוק:</strong> {{ job.remoteWork ? 'כן' : 'לא' }}</p>
  <p><strong>מקום עבודה:</strong> {{ job.workPlace || 'לא צוין' }}</p>


  @if (isLoggedIn) {
    <button (click)="downloadJob(job.employerID + job.title)">הורד משרה</button>
  <button (click)="saveJob(job.projectID)">שמור משרה</button>
  }
  @else{

  <div class="text-[11px] text-gray-500 flex items-center gap-[4px]">
    <mat-icon class="text-xs" style="vertical-align: middle; color: #6b7280;">error_outline</mat-icon>
    <span>התחבר על מנת לשמור או להוריד את המשרה</span>
  </div>

  }


</div>
} @empty {
<p>לא נמצאו משרות שתואמות לסינון.</p>
}

@if (jobs().length > pageSize) {
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage() === 1">הקודם</button>
  <span>עמוד {{ currentPage() }} מתוך {{ totalPages() }}</span>
  <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">הבא</button>
</div>
}
}
<button class="scroll-to-top" (click)="scrollToTop()" title="לראש העמוד">
  ↑
</button>