
 <nav class="navbar">
  <div class="navbar-left">
    <app-auth></app-auth>
    <!-- כפתור המבורגר -->
    <button class="menu-toggle" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
  
  <div class="navbar-links" [class.active]="menuOpen">
    <!-- כפתור מגייסים עובדים -->
    <button mat-raised-button class="recruiters-btn" (click)="goToExternalSite()">
      <mat-icon>business</mat-icon> מגייסים עובדים? זה המקום שלך
    </button>

    <!-- כפתורים נוספים -->
    <button mat-button (click)="scrollToContact()">
      <mat-icon>mail</mat-icon> צרו קשר
    </button>
    <button mat-button routerLink="/about">
      <mat-icon>info</mat-icon> אודות
    </button>
    <button  mat-button (click)="scrollToBlogs()">
      <mat-icon>article</mat-icon> בלוגים
    </button>

    
    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon> דף הבית
    </button>
  </div>
</nav>

