.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  height: 50px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  padding: 3px 8px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 10px;
  border: none;
  background: none;
  font-family: 'Assistant', sans-serif;
}

button:hover {
  color: #455a64;
}

button:last-child {
  margin-right: 0;
}

.recruiters-btn {
  background-color: #2b2d42;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recruiters-btn:hover {
  background-color: #3a3c5c;
  color: #fff;
}

/* המבורגר תפריט */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 0.5px 0;
  transition: 0.3s;
}

.navbar-links {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px 20px;
    height: auto;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .navbar-links.active {
    display: flex;
  }

  button {
    width: 100%;
    text-align: center;
  }
}


/* 

  
  .recruiters-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /
  }

 
  
  button.mat-raised-button {
    background-color: #2b2d42;
    color: #fff;
  }
  
  button.mat-button {
    background-color: transparent;
    color: #2b2d42;
  }
  
  button.mat-button:hover,
  button.mat-raised-button:hover {
    background-color: #3a3c5c;
  }
   */