.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);    background-color: #f0f0f0; /* צבע רקע */
    background-image: url('../../assets/background.PNG');

    background-size: cover; /* כיסוי מלא של הרקע */
    background-position: center; /* מיקום מרכזי של הרקע */
     /* opacity: 0.7; שקיפות 70% */
  }
  
  
button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(135deg, #2b2d42, #1e1f33);
  color: #f8f1e4;
  border: 2px solid #e1d5c9;
  cursor: pointer;
  transition: all 0.3s;
  /* opacity: 1 important!; */
}

button:hover {
  background: linear-gradient(135deg, #3a3c5c, #292a44);
  border-color: #f8f1e4;
}
.button-row {
  display: flex;
  justify-content: flex-end; /* מיקום הכפתורים בצד שמאל */
  padding: 10px 20px; /* רווח פנימי */
  background-color: #f0f0f0; /* צבע רקע */
}

.button-row button {
  margin-right: 10px; /* רווח בין הכפתורים */
}


