

<section class="hero">
  <div class="hero-content">
    <h1>ברוכים הבאים ל־DevWork</h1>
    <p>המערכת שמחברת בין מעסיקים למחפשי עבודה בעולם הפיתוח.</p>
    <p>מצאו את הפרויקט הבא שלכם לפי שפות תכנות, דרישות ניסיון ועוד.</p>
    <button routerLink="/joblist">לרשימת המשרות שלנו </button>
  </div>
</section>

<section class="features">
  <div class="features-container">
    <div class="features-text">
      <h2 id="why-devwork">למה DevWork?</h2>
      <ul>
        <li>
          <mat-icon>account_circle</mat-icon>
          גישה נפרדת למעסיקים ועובדים
        </li>

        <li>
          <mat-icon>filter_alt</mat-icon>
          סינון חכם לפי שפות תכנות, ניסיון ותנאי עבודה
        </li>

        <li>
          <mat-icon>dashboard_customize</mat-icon>
          ממשק פשוט ונגיש גם למתחילים וגם לחברות גדולות
        </li>

        <li>
          <mat-icon>smart_toy</mat-icon>
          חיבור מדויק בין מועמדים לפרויקטים באמצעות בינה מלאכותית
        </li>

        <li>
          <mat-icon>bookmark</mat-icon>
          התחבר ושמור את המשרות המתאימות ביותר עבורך
        </li>
        
      </ul>
    </div>
    <div class="features-image">
      <img src="/we-want-you.JPG" alt="Illustration">
    </div>
  </div>
</section>



<section class="blogs" id="blogs-section">
  <h2>בלוגים אחרונים</h2>
  <div class="blog-list">
    @for (blog of blogs; track blog) {
      <div class="blog-card">
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.summary }}</p>
        
        <div class="blog-content {{ blog.expanded ? 'open' : '' }}">
          <p>{{ blog.content }}</p>
        </div>
        
        <button class="toggle-btn"  (click)="toggleBlog(blog)">
          {{ blog.expanded ? 'הסתר' : 'קרא עוד' }}
        </button>
      </div>
    }
  </div>
</section>

<button class="scroll-to-top" (click)="scrollToTop()" title="לראש העמוד">
  ↑
</button>






