<!-- <app-navbar></app-navbar>
<div class="button-row">
    <button mat-button routerLink="/contact">צרו קשר</button>
    <button mat-button routerLink="/about">אודות</button>
    <button mat-button routerLink="/blogs">בלוגים</button>
  </div>
<div class="home-container">
    <button mat-raised-button color="primary" routerLink="/filtering">
      בואו למצוא את התפקיד הבא שלכם!
    </button>
  </div> -->

  <router-outlet></router-outlet>

  <app-navbar></app-navbar>



<div class="home-container">
    <button mat-raised-button color="primary" routerLink="/filtering" class="highlight-button">
        בואו למצוא את התפקיד הבא שלכם!
    </button>
</div>



<section id="blogs-section">
    <!-- כאן יופיעו הבלוגים -->
</section>
